#navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 450px;
}
#navigation #nav {
  width: 100px;
  height: 100%;
  background: white;
  border: 1px solid #ebebeb;
}
#navigation #nav .nav__top--logo {
  font-size: 45px;
  color: #1C64F2;
}
#navigation #nav .nav__top--icon {
  font-size: 25px;
}
#navigation #nav .nav__top--button {
  background: white;
  padding: 10px;
  border-radius: 8px;
}
#navigation #nav .nav__top--active {
  background: #e6e6e6 !important;
}
#navigation #nav .nav__top--active i {
  color: #1C64F2;
}
#navigation #sidebar {
  width: 350px;
  background: white;
  border: 1px solid #ebebeb;
}
