$width_navigation: 450px;
$width_nav: 100px;
$width_sidebar: 350px;

#navigation {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: $width_navigation;

    #nav {
        width: $width_nav;
        height: 100%;
        background: white;
        border: 1px solid #ebebeb;

        .nav__top {

            &--logo {
                font-size: 45px;
                color: #1C64F2;
            }
            &--icon {
                font-size: 25px;
            }

            &--button {
                background: white;
                padding: 10px;
                border-radius: 8px;
            }

            &--active {
                background: #e6e6e6 !important;
                //border-radius: ;
                i {
                    color: #1C64F2;
                }
            }
        }

        .nav__bottom {

        }
    }

    #sidebar {
        width: $width_sidebar;
        background: white;
        border: 1px solid #ebebeb;
    }
}
