#room {
    .room__header {

    }

    .room__content {
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .room__chat {
            width: 100%;
            display: flex;
            gap: 10px;

            .room__chat--avatar {
                flex-shrink: 1;
                align-self: flex-end;
            }

            .room__chat--content {
                width: 45%;
                display: flex;
                flex-direction: column;
                gap: 5px;



                .wrapper-image {
                    display: flex;
                    width: 100%;
                    img {
                        border-radius: 4px;
                        width: 50%;
                        height: auto;
                    }
                }


                .room__chat--text {
                    width: fit-content;
                }
            }
        }

        .room__chat--right {
            flex-direction: row-reverse;

            .room__chat--content {
                align-items: end;

                .room__chat--text {
                    background: #0a80ff;
                    padding: 6px 12px;
                    border-radius: 6px;
                    color: white;
                }

                .wrapper-image {
                    justify-content: flex-end;
                }
            }
        }

        .room__chat--left {
            .room__chat--content {
                .room__chat--text {
                    background: #ebebeb;
                    padding: 6px 12px;
                    border-radius: 6px;
                }

                .wrapper-image {
                    justify-content: flex-start;
                }
            }
        }
    }

    .room__footer {
        &--message-images {
            height: 150px;
            border: 1px solid #ebebeb;
            border-radius: 6px;
            padding: 0 10px;
            gap: 10px;
            overflow-x: auto;

            &-item {
                min-width: fit-content;
                height: 120px;
                border-radius: 6px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 120px;
                }
            }
        }
    }
}

